@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	width: 100%;
	height: 100%;
}

#root {
	@apply flex justify-center h-full;
}

button {
	@apply border-[1px] px-2 py-1 rounded-md border-slate-500;

	&:disabled {
		opacity: 0.5;
	}
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-xl;
}

h3 {
	@apply text-lg;
}

hr {
	@apply border-[1px] border-slate-800;
}

@font-face {
	font-family: 'CanterburyRegular';
	src: local('RubikScribble-Regular'), url('./assets/canterbury.regular.ttf');
}
